@model LibraryAPI.Models.DTOs.BookDetailsDTO

@{
    ViewData["Title"] = "Book Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4> @Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OgTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OgTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @foreach (var genreItem in Model.Genres)
            {
                @Html.DisplayFor(model => genreItem.Name)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class="col-sm-10">
            @foreach (var authorItem in Model.Authors)
             {
                <a asp-controller="Authors" asp-action="Details" asp-route-id="@authorItem.Id">@Html.DisplayFor(model => authorItem.FullName)</a>
             }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
