@model IEnumerable<LibraryWebApp.Resources.BookingResource>

<h1>@ViewData["Title"]</h1>
<br />

@if (ViewData["FeedBack"] == null)
{
    <table class="table">
        <thead>
            <tr>
                @if (!this.User.IsInRole("Reader"))
                {
                    <th>
                        @Html.DisplayNameFor(booking => booking.BookingId)
                    </th>
                }

                <th>
                    @Html.DisplayNameFor(booking => booking.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(booking => booking.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(booking => booking.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(booking => booking.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(booking => booking.DeliveryDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr @booking.Status>
                    @if (this.User.IsInRole("Librarian"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => booking.BookingId)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => booking.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.EndDate)
                    </td>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@booking.BookId">@Html.DisplayFor(modelItem => booking.BookId)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.DeliveryDate)
                    </td>

                    <td>
                        <a class="btn-warning" asp-action="Renew" asp-route-id="@booking.BookingId">Renew Booking</a>
                        @if (!this.User.IsInRole("Reader"))
                        {
                            <a class="btn-danger" asp-action="Deliver" asp-route-id="@booking.BookingId">Deliver</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="align-content-center alert-info">@ViewData["Feedback"]</h2>
}
