@model IEnumerable<LibraryWebApp.Models.Book>


@{
    ViewData["Title"] = "Books";
    var genreFilter = ViewData["genreFilter"];
}

<h1>Index</h1>

<form method="get">
    <input type="search" name="searchTerm" value="@ViewData["searchTerm"]" />
    <input type="submit" value="Search" />
    <a asp-action="Index">Clear Search</a>
</form>



<p>
    <a asp-action="Create">Create New</a>
</p>

@if (genreFilter != null)
{
    <h3>All Books with @genreFilter genre:</h3>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(books => books.Title)
            </th>
            <th>
                @Html.DisplayNameFor(books => books.OgTitle)
            </th>
            <th>
                @Html.DisplayNameFor(books => books.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(books => books.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(books => books.PhysicalDescription)
            </th>
            <th>
                @Html.DisplayNameFor(books => books.BookGenres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.OgTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.PublicationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Edition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.PhysicalDescription)
                </td>
                <td>
                    @foreach (var genreItem in book.BookGenres)
                    {

                        @Html.DisplayFor(modelItem => genreItem.Genre.Name)

                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@book.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
