@model LibraryAPI.Resources.AuthorResource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(author => author.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(author => author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(author => author.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(author => author.LastName)
        </dd>
    </dl>
</div>
@if (this.User.IsInRole("Librarian") || this.User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.AuthorId">Edit</a>
    </div>
}
    
